[Desktop Entry]
Name=ELF Dissector
Name[ca]=ELF Dissector
Name[ca@valencia]=ELF Dissector
Name[cs]=ELF Dissector
Name[da]=ELF-dissektion
Name[de]=ELF Dissector
Name[el]=Ανατόμος ELF
Name[en_GB]=ELF Dissector
Name[es]=Disector ELF
Name[et]=ELF Dissector
Name[fr]=Dissecteur ELF
Name[gl]=Disector de ELF
Name[ia]=ELF Dissector
Name[it]=Dissettore ELF
Name[ko]=ELF 분석 도구
Name[nl]=ELF-dissector
Name[nn]=ELF-dissektor
Name[pl]=Dysektor ELF
Name[pt]=Análise do ELF
Name[pt_BR]=Dissecador ELF
Name[ro]=Disector ELF
Name[ru]=ELF Dissector
Name[sk]=ELF Dissector
Name[sl]=ELF Dissector
Name[sv]=ELF-analysator
Name[tr]=ELF Çözümleyici
Name[uk]=ELF Dissector
Name[x-test]=xxELF Dissectorxx
Name[zh_CN]=ELF 解析器
Name[zh_TW]=ELF 剖析器
Comment=Tool for analyzing ELF binary files.
Comment[ca]=Eina per a analitzar els fitxers executables ELF.
Comment[ca@valencia]=Eina per a analitzar els fitxers executables ELF.
Comment[cs]=Nástroj pro analýzu binárních souborů ELF.
Comment[da]=Værktøj til at analysere ELF-binærfiler.
Comment[de]=Programm zur Analyse von binären ELF-Dateien
Comment[el]=Εργαλείο ανάλυσης δυαδικών αρχείων ELF.
Comment[en_GB]=Tool for analysing ELF binary files.
Comment[es]=Herramienta para analizar archivos binarios ELF.
Comment[et]=Tööriist ELF-binaarfailide analüüsimiseks.
Comment[fr]=Outil d'analyse des fichiers binaires ELF.
Comment[gl]=Ferramenta para analizar ficheiros binarios ELF.
Comment[ia]=Instrumento per analysar files binari de ELF.
Comment[it]=Strumento per analizzare i file eseguibili ELF.
Comment[ko]=ELF 바이너리 파일을 분석하는 도구입니다.
Comment[nl]=Hulpmiddel voor analyseren van ELF-binaire bestanden.
Comment[nn]=Verktøy for analysering av ELF-filer.
Comment[pl]=Narzędzie do analizowania plików binarnych ELF.
Comment[pt]=Ferramenta para analisar ficheiros binários ELF.
Comment[pt_BR]=Ferramenta para análise de arquivos binários ELF.
Comment[ro]=Unealtă pentru analiza fișierelor binare ELF.
Comment[ru]=Инструмент для анализа двоичных файлов ELF
Comment[sk]=Nástroj na analýzu binárnych súborov ELF.
Comment[sl]=Orodje za analizo binarnih datotek ELF.
Comment[sv]=Verktyg för att analysera binära ELF-filer.
Comment[tr]=ELF ikili dosyalarının analizi için bir araç.
Comment[uk]=Інструмент для аналізу двійкових файлів ELF.
Comment[x-test]=xxTool for analyzing ELF binary files.xx
Comment[zh_CN]=用于分析 ELF 格式二进制文件的工具。
Comment[zh_TW]=分析 ELF 二進位檔案的工具。
GenericName=ELF binary inspector
GenericName[ca]=Inspector d'executables ELF
GenericName[ca@valencia]=Inspector d'executables ELF
GenericName[da]=ELF-binær inspektør
GenericName[de]=ELF-Binärüberprüfung
GenericName[el]=ELF δυαδικός επιθεωρητής
GenericName[en_GB]=ELF binary inspector
GenericName[es]=Inspector de binarios ELF
GenericName[et]=ELF-binaarfailide uurija
GenericName[fr]=Inspecteur de fichiers binaires ELF
GenericName[gl]=Inspector de binarios ELF
GenericName[ia]=Inspector de binari ELF
GenericName[it]=Ispettore eseguibili ELF
GenericName[ko]=ELF 바이너리 분석기
GenericName[nl]=Inspectieprogramma voor ELF-binair
GenericName[nn]=ELF-granskar
GenericName[pl]=Inspektor binarny ELF
GenericName[pt]=Inspecção de binários ELF
GenericName[pt_BR]=Inspeção de binários ELF
GenericName[ro]=Inspector de binare ELF
GenericName[ru]=Анализатор двоичных файлов ELF
GenericName[sk]=Binárny prieskumník ELF
GenericName[sl]=Binarni inšpektor ELF
GenericName[sv]=Inspektion av ELF-binär
GenericName[tr]=ELF ikili denetleyici
GenericName[uk]=Аналізатор двійкових файлів ELF
GenericName[x-test]=xxELF binary inspectorxx
GenericName[zh_CN]=ELF 格式二进制文件分析器
GenericName[zh_TW]=ELF 二進位檔案檢查器
Exec=elf-dissector %f
Icon=elf-dissector
Type=Application
Categories=Development;
StartupWMClass=elf-dissector
X-KDE-StartupNotify=true
MimeType=application/x-elf;application/x-executable;application/x-sharedlib;
