[Desktop Entry]
Name=ELF Dissector
Name[ast]=Diseutor d'ELFs
Name[ca]=ELF Dissector
Name[ca@valencia]=ELF Dissector
Name[cs]=ELF Dissector
Name[de]=ELF Dissector
Name[es]=Disector ELF
Name[gl]=Disector de ELF
Name[nl]=ELF-dissector
Name[pl]=Dysektor ELF
Name[pt]=Análise do ELF
Name[pt_BR]=Dissecador ELF
Name[ru]=Диссектор ELF
Name[sk]=ELF Dissector
Name[sv]=ELF-analysator
Name[uk]=ELF Dissector
Name[x-test]=xxELF Dissectorxx
Comment=Tool for analyzing ELF binary files.
Comment[ast]=Ferramienta p'analizar ficheros binarios ELF.
Comment[ca]=Eina per analitzar fitxers executables ELF.
Comment[ca@valencia]=Eina per analitzar fitxers executables ELF.
Comment[cs]=Nástroj pro analýzu binárních souborů ELF.
Comment[de]=Programm zur Analyse von binären ELF-Dateien
Comment[es]=Herramienta para analizar archivos binarios ELF.
Comment[gl]=Ferramenta para analizar ficheiros binarios ELF.
Comment[nl]=Hulpmiddel voor analyseren van ELF-binaire bestanden.
Comment[pl]=Narzędzie do analizowania plików binarnych ELF.
Comment[pt]=Ferramenta para analisar ficheiros binários ELF.
Comment[pt_BR]=Ferramenta para análise de arquivos binários ELF.
Comment[ru]=Инструмент для анализа двоичных файлов ELF
Comment[sk]=Nástroj na analýzu binárnych súborov ELF.
Comment[sv]=Verktyg för att analysera binära ELF-filer.
Comment[uk]=Інструмент для аналізу двійкових файлів ELF.
Comment[x-test]=xxTool for analyzing ELF binary files.xx
GenericName=ELF binary inspector
GenericName[ast]=Inspeutor de binarios ELF
GenericName[ca]=Inspector d'executables ELF
GenericName[ca@valencia]=Inspector d'executables ELF
GenericName[de]=ELF-Binärüberprüfung
GenericName[es]=Inspector de binarios ELF
GenericName[gl]=Inspector de binarios ELF
GenericName[nl]=Inspectieprogramma voor ELF-binair
GenericName[pl]=Inspektor binarny ELF
GenericName[pt]=Inspecção de binários ELF
GenericName[pt_BR]=Inspeção de binários ELF
GenericName[ru]=Анализатор двоичных файлов ELF
GenericName[sk]=Binárny prieskumník ELF
GenericName[sv]=Inspektion av ELF-binär
GenericName[uk]=Аналізатор двійкових файлів ELF
GenericName[x-test]=xxELF binary inspectorxx
Exec=elf-dissector
Icon=document-edit-decrypt-verify
Type=Application
Categories=Development;
X-KDE-StartupNotify=true
